/*Shared styles*/
body {
    font-family: 'Open Sans', sans-serif;
}

/*Universal style*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
paragraph{
width: 634px;
color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-weight: 400;
line-height: 30px;

}
.paragraph-style{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin: 24px 0px;
    gap: 20px 0px;
    justify-content: baseline;
}

.button-style{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding: 16px 35px;
    cursor: pointer;
}


.similar-title-style{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    line-height: normal;
}

.style-h5{
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration: underline;
    cursor: pointer;
}
.style-h6{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}
/* new product default desgin */

.product-name-h5 {
    color: #1b1b1b;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.container{
    width: 80%;
    margin: auto;
}
/* header part desgin desgin */

.header{
    background-color: #E554731A;
    min-height: 100px;
    
}

.header-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
        align-items: start;
        padding: 15px 15px;
    
}

.banner h1{
    color: #272727;
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    width: 708px;
    
}

.banner-text{
    width: 50%;
    padding-top: 30px;
}
p{
margin-top: auto;
margin-bottom: 40px;
color: rgba(35, 35, 35, 0.40);
font-family: sans-serif;
font-size: 18px;
font-weight: 400;
justify-content: right;
size-adjust: 10px;

}

.banner-text p{
    color: rgba(39, 39, 39, 0.60);
    font-size:12px;
    font-weight: 400;
    line-height: 25px;
    margin: 32px 0px;
}

.banner-img img{
    width: 100%;
    width: 400px;
}
/* Featured Flowers section*/
.our-featured-Flowers{
    padding: 130px 0px 60px 0px;
}
.our-featured-img-card{
    display: flex;
    gap: 26px;
    
}

.img-card-text{
    flex-basis: 33.33%;
    text-align: center;
    margin-top: 48px;
}
.img-card-text div{
    height: 450px;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    padding: 100px 70px 0px;
    margin-bottom: 32px;
}
.img-card-text div img{
    height: 100%;
    width: 100%;
}

.featured-middle-img{
    padding-bottom: 35px;
}
.img-card-text .card-tree-1{
    background-color: #A7216226;
}
.img-card-text .card-tree-2{
    background-color: #0597A026;

}
.img-card-text .card-tree-3{
    background-color: #477D1126;
}

.delivary-support-part{
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
    padding: 60px 90px;
    border-radius: 8px;
    background: #2727270D;
    margin-top: 128px;
}

.delivary-support{
    text-align: center;
    flex-basis: 33%;
}
.delivary-support img{
    margin-bottom: 24px;
}


/* new product section desgin */

.new-product-top{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
}

.new-product{
    position: relative;
    text-align: center;
}

.all-product-degin .product-item{
    width: 100%;
    cursor: pointer;
}

.all-product-degin .product-item img{
    width: 100%;
}

.new-product-bottom{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
    
}

.all-product-degin h5,h6{
    text-align: center;
    color:  #6d6a6a;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    cursor: pointer;
}
.all-product-degin h6{
    text-align: center;
    color:  #6d6a6a;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    margin-top: 3px;
}

.all-product-degin button{
    background-color: #E55473;
    border: none;
    padding: 10px 20px;
    border-radius: 2px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
}
/* seal and deal section */

.sale-and-deal-section{
    border-radius: 8px;
    background: #E554730D;
}

.sale-deal-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 186px;
}

.sale-deal-img{
    padding: 100px 0px;
}

.sale-off{
    color: #E55473;
}


/* instragram part desgin */

.instagram-leatest-deal-4{
    padding: 128px 0px;
}
.instagram-top-text{
    text-align: center;
}

.instagram-flower-card{
    display: flex;
    gap: 24px;
    justify-content: space-evenly;
    
}
.instagram-flower-card img{
    width: 100%;
    
}


.leatest-deal-contact{
    padding: 100px 180px;
    margin-top: 128px;
}
.contact-form{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.contact-form input{
    width: 100%;
    height: 55px;
    outline: none;
    border: none;
    padding: 0px 30px;
    border-radius: 8px;
    background-color: #fff;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: normal
    
}


/* footer desgin */

.footer{
    background: #111010;
    padding: 120px 312px;
}

.flower-shop-footer{
    color: #FFFFFF;
    text-align: center;
}

.flower-shop-footer span{
    color: #FFFFFF;
}

.flower-shop-footer h2{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    line-height: normal;
}

.copyright{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
